<input type="text" name="title" placeholder="Filial nomi">
<br>
<input type="date" name="date">
<input type="time" name="time">
<br>
<input type="text" name="director" placeholder="Director">
<input type="text" name="experience" placeholder="Experience">
<br>


<!-- br -->

<input type="text" name="title" placeholder="Filial nomi" value="{{filial.title}}">
<br>
<input type="date" name="date" value="{{date}}">
<input type="time" name="time" value="{{time}}">
<br>
<input type="text" name="director" placeholder="Director" value="{{filial.director.fullname}}">
<input type="text" name="experience" placeholder="Experience" value="{{filial.director.experience}}">